[submodule "addons/rect_pack_2d"]
	path = addons/rect_pack_2d
	url = https://github.com/kibble-cabal/rect-pack-2d.git
	branch = cleaned
[submodule "addons/json_library"]
	path = addons/json_library
	url = https://github.com/kibble-cabal/json-library.git
	branch = cleaned
