[submodule "addons/rect_pack_2d"]
	path = addons/rect_pack_2d
	url = https://github.com/kibble-cabal/rect-pack-2d.git
	branch = cleaned
[submodule "addons/interaction_system"]
	path = addons/interaction_system
	url = https://github.com/kibble-cabal/godot-interaction-system.git
	branch = just-2d-cleaned
